<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumClients" value="100" />
	<add key="ReservationsServiceURI" value="https://reservationapi-ceb7hzbgfxh9b8hn.southeastasia-01.azurewebsites.net/"/>
    <add key="ReservationsServiceCollection" value="api/reservations"/>
  </appSettings>
</configuration>